@using EntityLayer
@model EntityLayer.Student


<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            STUDENT UPDATE PAGE
                        </h4>
                        <form asp-action="Update" asp-controller="Student" method="post">
                            <div style="display:none" class="mb-3">
                                <label for="StudentID" class="form-label">Student Id</label>
                                <input readonly asp-for="StudentID" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="SName" class="form-label">Student Name</label>
                                <input asp-for="SName" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="SSurname" class="form-label">Student Surname</label>
                                <input type="text" class="form-control" asp-for="SSurname">
                            </div>
                            <a type="submit" class="badge badge-outline-warning">Update Student</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <!-- partial -->
</div>
<!-- main-panel ends -->
